@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter",Arial, Helvetica, sans-serif;
}

:root{
    --color-primario-1000:#2b2b2b;
    --color-primario-900: #360c72;
    --color-primario-800: #370d73;
    --color-primario-600: #652bdf;
    --color-primario-500: #e4d7ff;
    --color-primario-400: #e7eaed;
    --color-primario-300: #fcfbff;
    --color-primario-200: #ffffff;
}

body{
    background-color: var(--color-primario-300);
    overflow-x: hidden;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 83px;
    border-bottom: 1px solid var(--color-primario-400);
    position: sticky;
    top: 0px;
    z-index: 2;
    background-color: white;
}

.header_mobile{
    display: none;
}

nav{
    max-width:1024px;
    width: 100%;
    height: 82px;
    margin: 0 auto;
    padding: 0px 24px;
    background-color: var(--color-primario-200);
}

nav li{
    padding: 6px 24px;
    margin: 0px 4px;
}

.nav-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    height: 100%;
}

.header-menu{
    display: flex;
    align-items: center;
    list-style: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    max-width: 460px;
    width: 100%;
    min-height: 42px;
    white-space: nowrap;
}

.header-menu li{
    display: flex;
    align-items: center;
    min-height: 41px;
}

.separator {
    width: 1px;
    height: 1.5rem;
    background-color: #bebebe;
    align-self: center;
} 

.cobro:hover{
    border-radius: 50px;
    background-color: var(--color-primario-500);
    cursor: pointer;
}

.soluciones:hover{
    border-radius: 50px;
    background-color: var(--color-primario-500);
    cursor: pointer;
}

.beneficios:hover{
    border-radius: 50px;
    background-color: var(--color-primario-500);
    cursor: pointer;
}

.header-right-menu{
    display: flex;
    list-style: none;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    padding: 0px;
    margin: 0px 0px 0px 31px;
    width: 100%;
}

.espacio-nave a{
    color: var(--color-primario-900);
    max-height: 41px;
}

.entrar-nave a{
    display: flex;
    justify-content: center;
    align-items: center ;
    color: var(--color-primario-900);
    max-height: 41px;
}

.header-right-menu li{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 41px;
    border-radius: 50px;
    max-width: 160px;
    width: 100%;
}

.espacio-nave{
    background-color: var(--color-primario-200);
    border: solid var(--color-primario-600) 1px;
    color: var(--color-primario-600);
    text-decoration: none;
    min-width: 160px;
    transition: ease-in-out 0.3s;
}

.entrar-nave{
    background-color: #652bdf;
    color: var(--color-primario-200);
    border: solid var(--color-primario-600) 1px;
    text-decoration: none;
    min-width: 160px;
    transition: ease-in-out 0.3s;
}

.espacio-nave:hover{
    background-color: var(--color-primario-500);
    cursor: pointer;
    color:var(--color-primario-800)
}

.entrar-nave:hover{
    background-color: var(--color-primario-500);
    color: var(--color-primario-800);
    cursor: pointer;
}

.logo-responsive{
    display: none;
}

.menu-hamburger-container{
    display: none;
}

/* Secciones */

.separator-64px{
    height: 64px;
    max-width: 1000px;
    margin: 0 auto;
}

.separator-48px{
    height: 48px;
    max-width: 1000px;
    margin: 0 auto;
}

.separator-32px{
    height: 32px;
    max-width: 1000px;
    margin: 0 auto;
}

.separator-16px{
    height: 16px;
    max-width: 1000px;
    margin: 0 auto;
}

.section-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1px;
    width: 100%;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 42px;
    color: var(--color-primario-1000);
    text-align: center;
}

.title-section{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 42px;
    color:var(--color-primario-1000)
}

.card-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
}

.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 316px;
    height: 248px;
    margin: 12px 0px 0px;
    padding: 24px;
    gap: 10px;
    border-radius: 16px;
    background-color: var(--color-primario-200);
    transition: ease 0.3s;
}

.card:hover{
    transform: translateY(-5px);
}

.card h2{
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
}

.card p{
    font-size: 16px;
    font-weight: 400;
    color: #6a6a6a;
}

.p-16px{
    font-size: 16px;
    font-weight: 400;
    line-height:24px;
    color: #6a6a6a;
}

.p-18px{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: black;
}

.card-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    align-self: flex-start;
    height: 62px;
    width: 62px;
    background-color: #f0eafc;
    border-radius: 8px;
}

.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    gap: 40px;
    margin: 0px 24px;
    padding: 32px 40px;
    max-width: 1022px;
    width: 100%;
    height: auto;
    max-height: none;
    border-radius: 30px;
    background-color: #370d73;
    position: relative;
}

.banner-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    gap: 16px;
    font-weight: 600;
    line-height: 32px;
    color: white;
    margin: 0px;
    padding: 0px;
    min-width: 280px;
}

.banner-text p{
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}

.banner-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 100%;
    max-width: 192px    ;
    height: 100%;
    max-height: none;
    min-width: 192px;


}

.banner-btn-primary{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--color-primario-600);
    text-decoration: none;
    color: var(--color-primario-600);
    background-color: white;
    border-radius: 30px;
    padding: 10px 32px;
    min-height: 46px;
    min-width: 192px;
    width: 100%;
    font-weight: 700;
    font-size: 16px;
}

.banner-btn-primary:hover{
    transition: linear 300ms;
    background-color: black;
    cursor: pointer;
    color: var(--color-primario-500);
}

.secondary-cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1022px;
    height: 100%;
    height: 350px;
    background-color: white;
    border-radius: 30px;
    overflow: hidden;
}

.content-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 32px 24px;
    height: 100%;
    width: 100%;
    max-width: none;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self:center;
}

.content h2{
    margin: 0px  0px 24px;
    font-weight: 600;
    font-size: 30px;
    line-height: 32px;
    color: var(--color-primario-1000);
}

.description-card{
    margin: 0px 0px 70px;

}

.content-buttons{
    display: flex;
    align-self: flex-start;
    width: 100%;
    max-width: 670px;

}

.banner-btn-primary{
    padding: 0px;
}

.button-conoce-mas{
    display: flex;
    justify-content: center;
    background-color: var(--color-primario-600);
    padding: 10px 32px;
    color: var(--color-primario-200);
    text-decoration: none;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    max-width: 160px;
    width: 100%;
    min-width: 160px;
    min-height: 41px;
    transition: ease-in-out 300ms;
}

.button-conoce-mas:hover{
    background-color: #360c72;
}

.img-cards{
    display: flex;
    max-height: 350px;
    height: 100%;
    max-width: 510px;
    width: 100%;
    transition: ease 0.3s;
}

.img-cards:hover{
    transform: scale(1.05);
}

.secondary-cards-reverse{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1022px;
    height: 350px;
    background-color: white;
    flex-direction: row-reverse;
    border-radius: 30px;
    overflow: hidden;
}

.section-separator{
    background-color: white;
    height: 64px;
    width: 100vw;
}

/* Footer */

.footer-container{
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: white;
    margin: 0;
    padding: 64px 24px 40px;
    width: 100%;
}

.footer-section{
    width: 100%;
    max-width: 1022px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    flex-direction: row;
    gap: 24px;
    padding: 24px 0px 32px;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.footer-section span{
    color: var(--color-primario-1000);
}

.footer-section li{
    margin: 8px;
    list-style: none;
    position: relative;
    right: 9px;
}

.footer-section a{
    text-decoration: none;
    color: #322b2b;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.footer-section a:hover{
    text-decoration:underline;
    color: #652bdf;
}

.logo-nave-footer{
    width: 46px;
    height: 44px;
    position: absolute;
    left: 0px;
    top: -30px;
}

.footer-links{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    min-width: 200px;

}

/* Media queries */

@media screen and (max-width: 1006px){
.espacio-nave{
    min-width: 160px;
    }

.entrar-nave{
    min-width: 160px;
    }

.header-right-menu{
    padding: 0px;
    }
}


@media screen and (max-width: 992px) {

header{
    display: flex;
    background-color: white;
    width: 100%;
    height: 72px;
    }

.title{
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    }

.title-section{
    font-size: 30px;
    font-weight: 700;
    line-height: 36px
    }

.card-container{
    display: flex;
    max-width: 943px;
    width: 100%;
    }

.card-container h2{
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    }

.card-container p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    }

.banner-container{
    width: 100%;
    max-width: none;
    margin: 48px auto 0;
    gap: 32px;
    padding: 40px 32px;
    }

.header_mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 991px;
    width: 100%;
    }

.secondary-cards{
    max-width: 943px;
    width: 100%;
    max-height: 320px;
    height: 100%;
    }

.secondary-cards-reverse{
    max-width: 943px;
    width: 100%;
    max-height: 320px;
    height: 100%;
    }

.secondary-cards img{
    max-width: 471px;
    width: 100%;
    max-height: 320px;
    height: 100%
    }

.secondary-cards-reverse img{
    max-width: 471px;
    width: 100%;
    max-height: 320px;
    height: 100%
    }

.description-card{
    margin-bottom:50px;
    }

.p-18px{
    font-size: 16px;
    font-weight: 400;
    line-height: normal ;
    }

.footer-container{
    max-width: 991px;
    width: 100%;
    padding: 24px;
    }

.footer-section{
    display: flex;
    max-width: none;
    width: 100%;
    padding: 0px;
    margin: 0 auto;
    gap: 0px;
    justify-content: flex-start;
    }

.logo-nave-footer{
    width: 46px;
    height: 44px;
    position: absolute;
    top: -50px;
}

.footer-links{
    min-width: 180px;
    max-width: 300px;
    }

nav{
    display: none;
    }

.menu-hamburger-container{
    display: flex;
    align-items: center;
    position: absolute;
    left: 24px;
    width: 40px;
    height: 40px;
    }

.button-hamburger{
    display: flex;
    border: none;
    background-color: white;
    }

.logo-responsive{
    display: flex;
    min-width: 41.81px;
    min-height: 40px;
    justify-content: center;
    }

.logo-container-mobile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}

.section-container{
    display: flex;
    max-width: none;
    width: 100%;
    padding: 0px 24px;
    margin: 0 auto;
}

}


@media screen and (max-width: 768px) {

.card-container{
    display: flex;
    flex-direction: column;
    max-width: 719px;
    width: 100%;
    }

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 719px;
    width: 100%;
    }

.card-text-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    gap: 15px;
    }

.card-text-content h2{
    align-self: flex-start;
    }

.title-section{
    text-align: center;
    }

.banner-container{
    display: flex;
    flex-direction: column;
    padding: 32px 40px;
    margin: 0px 24px;
    gap: 40px;
    height: auto;
    max-height: none;
    position: relative;
    }

.banner-button{
    margin-left: 0;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    max-width: none;
    }

.banner-btn-primary{
    max-width: 586px;
    }

.card-container{
    max-width: 713px;
    width: 100%;
    max-height: 672px;
    height: 100%;
    }

.secondary-cards img{
    max-width: 713px;
    width: 100%;
    max-height: 488px;
    height: 100%;
    }

.secondary-cards{
    display: flex;
    flex-direction: column-reverse;
    max-width: 713px;
    width: 100%;
    max-height: 726px;
    height: 100%;
    }

.secondary-cards-reverse img{
    max-width: 713px;
    width: 100%;
    max-height: 488px;
    height: 100%;
    }

.img-cards{
    max-width: 713px;
    width: 100%;
    max-height: 488px;
    height: 100%;
    }

.secondary-cards-reverse{
    display: flex;
    flex-direction: column-reverse;
    max-width: 713px;
    width: 100%;
    max-height: 726px;
    height: 100%;
    }

.content{
    width: 100%;
    min-height: 176px;
    height: 100%;
    padding:0px;
    gap: 20px;
    }

.description-card{
    margin: 0px;
    gap: 20px;
    }

.button-conoce-mas{
    max-width: 670px;
    }

.content-container{
    display: flex;
    max-width: none;
    width: 100%;
    min-height: 240px;
    height: 100%;
    padding: 24px;
    }

.section-separator{
    width: 100vw;
    max-width: none;
    }

.footer-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px 24px;
    align-items: start;
}


.footer-section > .footer-links:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}

.footer-section > .footer-links:nth-child(3) {
    grid-column: 1;
    grid-row: 2;
}

.footer-section > .footer-links:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
}

.footer-section > .footer-links:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
}


.footer-links {
    display: flex;
    flex-direction: column;
    min-width: 0;
    width: 100%;
}

.footer-links ul {
    list-style: none;
    padding-left: 0;
}

.footer-links li {
    margin: 8px 0;
}

.footer-links a {
    text-decoration: none;
    color: #322b2b;
    font-size: 14px;
    font-weight: 400;
}

.footer-links a:hover {
    text-decoration: underline;
    color: #652bdf;
}

.logo-nave-footer{
    position: absolute;
    left: 45vw;
}

}


@media screen and (max-width: 480px){

.content-container{
    max-width: 431px;
    width: 100%;
    }

.content{
    max-width: none;
    width: 100%;
    padding: 0px;
    display: flex;  
    }

.card-container{
    display: flex;
    justify-content: center;
    align-self: flex-start;
    }

    .card-text-content{
        display: flex;
        max-width: 383px;
        min-width: 130px;
        text-align: start;
    }



.banner-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    height: auto;
    max-height: 500px;
    min-height: 300px;
    width: 100%;
    margin-top: 40px;
    padding: 0px;

    }

.banner-text{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 303px;
    height: auto;
    max-height: 500px;
    text-align:start;
    }


.banner-text h2{
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
    }

.button-conoce-mas{
    display: flex;
    justify-content: center;
    padding: 10px 32px;
    }

.banner-btn-primary{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 192px;
    max-width: 300px;
    height: 46px;
    height: 100%;
    }
.title-section{
    font-size: 30px;
    font-weight: 700;
    line-height: 36px; 
    margin-bottom: 40px;
    }
    }

@media screen and (max-width: 360px){

.banner-btn-primary{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 192px;
    height: 46px;
    height: 100%;
    }


    }

